:root {
  --title-color: #1f1f1f;
  --desc-color: #8c8c8c;
  --remark-color: #d9d9d9;
  --primary-color: #1890ff;
  --danger-color: #ff4d4f;
  --avatar-bg: #69c0ff;

  --border-color: rgb(240, 240, 240);
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.page-card {
  min-height: 160px;
  margin: 16px 16px 0 16px;
}

.ant-page-header {
  background: #fff;
}

.ant-pro-global-header-index-action {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 24px;

  box-sizing: border-box;
  &:hover {
    background: rgba(0, 0, 0, 0.025);
  }
}

@media screen and (max-width: 1200px) {
  .work-state-margin-top {
    margin-top: 24px;
  }
}

// table css

.table-operator {
  margin: 15px 0;
}

// details page style
.header-container {
  position: relative;
  padding: 0 24px;
  .header-title {
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    max-width: calc(100% - 350px);
  }
  .buttons {
    position: absolute;
    top: 9px;
    right: 24px;

    .ant-btn {
      margin-left: 14px;
    }
  }
}

.pointer {
  cursor: pointer;
}
